<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-G6IPDM6\SQLEXPRESS;Initial Catalog=gisappproj;Integrated Security=True" name="mainCS"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>